<section class="bg-light">
  <!-- header common for entire application -->
  <app-header></app-header>
  <div class="bg-light mt-5">
    <!-- sidebar common for entire application -->
    <app-sidebar></app-sidebar>
    <!-- set the margin based on device size -->
    <div
      class="flex-grow-1"
      [ngClass]="{
        'margin-right-section':
          sidebarVisible && CommonService.screenWidth$.value > 640,
        'm-0': !sidebarVisible
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
